/*#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
*/
.bestH{
    display: flex;
    justify-content: center;
    margin: 40px 20px 0 20px;
}

.bestH h1{
    text-transform: uppercase;
    font-weight: 900;
    box-shadow: 4px 4px 6px rgb(237, 240, 240), 4px 4px 6px rgb(237, 240, 240), 4px 4px 6px rgb(237, 240, 240), -4px -4px 6px rgb(237, 240, 240);
    padding: 5px 10px;
    border-radius: 5px;
 

}
.swiper {
  margin: 20px 20px 20px 20px;
  height: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

margin-bottom: 20px;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 300px;
  height: relative;
  object-fit: cover;
  border-radius: 5px;
  padding: 1px;
}
